@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FFFFFA;
  --background: #D9481C;
}

body{
  height: 100vh
}

.card {
  color: var(--foreground);
  background: var(--background);
}
